/Drops/
*.suo
*.sln.cache
_ReSharper*/
*.user
*.InstallLog
*.gpState
*.swp
*.sln.metaproj*
_GeneratedProduct.wxi
*.log
/BuildArtefacts/
*.lastpatched
*.t4properties
*.docstates
.lastVersionNumber
*.vsprops
*_working/
[Dd]ebug*/
[Bb]in*/
[Oo]bj/
[Ss]ql/
!/Solutions/agent/bin